.regContainer{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.navbarMain{
    padding-top: 1rem;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.mainLink{
    text-decoration: none;
    color: inherit;
}

*{
    font-family: 'Poppins', sans-serif;
    background-color: #191919;
    margin: 0;
    padding: 0;
}

.websiteLogo{
    font-size: 2rem/* 36px */;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    
    padding-top: 0.25rem/* 4px */;
    padding-bottom: 0.25rem/* 4px */;
}

.regForm{
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 15px rgba(85, 128, 134, 0.308);
}

.regInput{
    background-color: #333333;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0 10px;
    color: #FFFFFF;
}

.regButton{
    margin-top: 40px;
    margin-bottom: 20px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    background-color: #009afe;
    color: #fff;
    cursor: pointer;
    border: 1px solid #009afe;
}

.subtitleText{
    max-width: 800px;
    font-size: 1rem;
    margin: 0;
    color: #ffffff;
    display: inline;
}

.signinlink{
    max-width: 800px;
    font-size: 1rem;
    margin: 0;
    color: #009afe;
    display: inline;
}

.signinTitle{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 50px;
}

.signtitleText{
    max-width: 800px;
    font-size: 2.80rem;
    margin: 0 auto;
    color: #ffffff;
    font-weight: bold;
}